header.header 
    .header__column 
        a(href=routes.home)
            i.fab.fa-youtube 

    .header__column 
        form(action=routes.search, method="get") 
            input(type="text", name="term", placeholder="검색")

    .header__column 
        ul 
            if !user.isAuthendicated
                li
                    a(href=routes.login) 로그인

                li
                    a(href=routes.join) 회원가입
            else 
                li
                    a(href=`/videos${routes.upload}`) 업로드

                li
                    a(href=routes.userDetail(user.id)) 프로필

                li
                    a(href=routes.logout) 로그아웃
